.tpc-posts-list {
	margin-top: 10px;
}
.tpc-posts-list label {
	display: block;
	float: left;
	clear: both;
	width: 100%;
}
.tpc-posts-list label span {
	display: block;
	white-space: nowrap;
    overflow: hidden;

    text-overflow: ellipsis;
}
.tpc-posts-list label input[type=checkbox] {
	float: left;
	margin-top: 2px;
}

.tpc-accordeon {
	border: 1px solid #e5e5e5;
	margin-bottom: 10px;
}
.tpc-accordeon-top {
	position: relative;
	background-color: #fafafa;
	border: 1px solid #e5e5e5;
	cursor: pointer;
}

.tpc-accordeon-top h4 {
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 10px;
	padding-right: 50px;
	margin: 0;
	text-transform: capitalize;
}
.tpc-accordeon-top:hover {
	border-color: #999;
}
.tpc-accordeon-top:hover:after {
	color: #444;
}
.tpc-accordeon-top:after {
	content: '\f140';
	color: #a0a5aa;
	display: block;
	padding: 8px;
	font: 400 20px/1 dashicons;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}
.tpc-accordeon-top.opened:after {
	content: '\f142';
}
.tpc-accordeon-body {
	padding: 10px;
	max-height: 100px;
	overflow-x: auto;
	display: none;
}
.tpc-accordeon-body:before,
.tpc-accordeon-body:after {
	content: "";
	clear: both;
}
.tpc-accordeon-body:after {
	display: table;
}


.action-links > * {
	display: inline-block;
	vertical-align: middle;
	line-height: 28px;
}
.action-links > * + * {
	margin-left: 10px;
}

.tpc-template-params hr {
	margin: 0;
}

.tpc-preloader {
	position: relative;
}
.tpc-preloader:before {
	content: "";
	display: block;
	position: absolute;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	opacity: 0;

	transition: opacity 500ms ease;
	-webkit-transition: opacity 500ms ease;
	-moz-transition: opacity 500ms ease;
	-ms-transition: opacity 500ms ease;
	-o-transition: opacity 500ms ease;

	z-index: 1000;

	background-image: url(/wp-admin/images/spinner-2x.gif);
	background-color: rgba(255,255,255,0.4);
	background-position: center center;
	background-repeat: no-repeat;
}
.tpc-preloader.is-loading {}
.tpc-preloader.is-hidden:before {
	z-index: -1000;
}
.tpc-preloader.is-loading:before {
	opacity: 1;
}