.tpc-block {
	margin: 1em auto;
	font-size: inherit;
}

.tpc-body .tpc-title {
	margin-bottom: 1em;
}

.tpc-entry-block {}
.tpc-entry-block + .tpc-entry-block {}

.tpc-body,
.tpc-widget-title {
	padding: 1em 2em;
}
.tpc-block .tpc-thumbnail {
	padding-bottom: 1em;
}

.tpc-widget-title + .tpc-entry-block .tpc-body {
	/* padding-top: 0; */
}

.tpc-widget-title h3 {
	font-size: 1.5em;
	font-weight: bold;
}

/* Styles for blocks that embed in page */
.entry-content .tpc-title {
	margin-top: 0;
}
.entry-content .tpc-entry-block + .tpc-entry-block {
	margin-top: 2em;
}
.entry-content .tpc-body {
	padding-right: 0;
	padding-left: 0;
}

/* Padded template */
.tpc-default-padded .tpc-body,
.tpc-default-padded .tpc-thumbnail {
	padding-left: 2em;
	padding-right: 2em;
}